<h3>Find By Last Name</h3>
<div style="width: 300px;">
	<form (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="lastname">Last Name</label>
      <input type="text"
				class="form-control"
        id="lastname"
        required
        maxlength="30"
        [(ngModel)]="lastName"
				name="lastname">
      <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
        <div *ngIf="lastname.errors.required">
          Last Name is required.
        </div>
        <div *ngIf="lastname.errors.maxlength">
          Last Name must not be more than 30 characters.
        </div>
      </div>
		</div>
    <button type="submit" class="button-style mat-raised-button">Submit</button>
	</form>
</div>
<table *ngIf="customers.length > 0" class="customer-table">
  <thead>
    <tr>
      <th class="header">
        First Name
      </th>
      <th class="header">
        Last Name
      </th>
      <th class="header">
        Address
      </th>
      <th class="header org-header">
        Organization ID
      </th>
      <th class="header org-header action-header">
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="customer-row" *ngFor="let cust of customers">
      <td class="customer-cell">
        {{cust.firstName}}
      </td>
      <td class="customer-cell">
        {{cust.lastName}}
      </td>
      <td class="customer-cell">
        {{cust.addressLine1}},<br>
        {{cust.city}},<br>
        {{cust.state}},<br>
        {{cust.country}} - {{cust.zipCode}}
      </td>
      <td class="customer-cell org-id">
        {{cust.organizationId}}
      </td>
      <td class="customer-cell org-id action-cell">
	      <button class="btn btn-danger" (click)="delete(cust.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<div class="no-results" *ngIf="!customers">No Results to display.</div>
