
<h3 class="margin-left">Create Customer Form</h3>
<div [hidden]="submitted" class="margin-left" style="width: 300px; margin-top: 30px;">
	<form (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="firstname">First Name</label>
      <input type="text"
        required maxlength="30"
				class="form-control"
        id="firstname"
        required
				[(ngModel)]="customer.firstName"
        name="firstname">
      <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
          class="alert alert-danger">
        <div *ngIf="firstname.errors.required">
          First Name is required.
        </div>
        <div *ngIf="name.errors.maxlength">
          First Name must not be more than 30 characters.
        </div>
      </div>
		</div>

		<div class="form-group">
			<label for="lastname">Last Name</label>
      <input type="text"
        required
        maxlength="30"
				class="form-control"
        id="lastname"
        required
				[(ngModel)]="customer.lastName"
        name="lastname">
      <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
          class="alert alert-danger">
        <div *ngIf="lastname.errors.required">
          Last Name is required.
        </div>
        <div *ngIf="lastname.errors.maxlength">
          Last Name must not be more than 30 characters.
        </div>
      </div>
		</div>

    <div class="form-group">
			<label for="companyId">Company ID</label>
      <input type="number"
				class="form-control"
        id="companyId" required
				[(ngModel)]="customer.organizationId"
        name="organizationId"
        required
        maxlength="10">
      <div *ngIf="organizationId.invalid && (organizationId.dirty || organizationId.touched)"
          class="alert alert-danger">
        <div *ngIf="firstname.errors.required">
          Organization ID is required.
        </div>
        <div *ngIf="name.errors.maxlength">
          Organization ID must not be more than 10 characters.
        </div>
      </div>
		</div>

		<div class="form-group">
			<label for="addressLine1">Address Line 1</label>
      <input type="text"
        required
        maxlength="30"
				class="form-control"
        id="addressLine1"
        required
				[(ngModel)]="customer.addressLine1"
        name="addressLine1">
        <div *ngIf="addressLine1.invalid && (addressLine1.dirty || addressLine1.touched)"
          class="alert alert-danger">
        <div *ngIf="addressLine1.errors.required">
          Address Line 1 is required.
        </div>
        <div *ngIf="name.errors.maxlength">
          Address Line 1 must not be more than 30 characters.
        </div>
      </div>
		</div>

    <div class="form-group">
			<label for="addressLine2">Address Line 2</label>
      <input type="text"
        maxlength="30"
				class="form-control"
        id="addressLine2"
				[(ngModel)]="customer.addressLine2"
        name="addressLine2">
        <div *ngIf="addressLine2.invalid && (addressLine2.dirty || addressLine2.touched)"
          class="alert alert-danger">
        <div *ngIf="addressLine2.errors.maxlength">
          Address line must not be more than 30 characters.
        </div>
      </div>
		</div>

    <div class="form-group">
			<label for="city">City</label>
      <input type="text"
        required
        maxlength="30"
				class="form-control"
        id="city"
        required
				[(ngModel)]="customer.city"
        name="city">
      <div *ngIf="city.invalid && (city.dirty || city.touched)"
          class="alert alert-danger">
        <div *ngIf="city.errors.required">
          City is required.
        </div>
        <div *ngIf="name.errors.maxlength">
          City must not be more than 30 characters.
        </div>
      </div>
		</div>

		<div class="form-group">
			<label for="state">State</label>
      <input type="text"
        required
        maxlength="5"
				class="form-control"
        id="state"
				[(ngModel)]="customer.state"
        name="state">
      <div *ngIf="state.invalid && (state.dirty || state.touched)"
          class="alert alert-danger">
        <div *ngIf="state.errors.required">
          State is required.
        </div>
        <div *ngIf="state.errors.maxlength">
          State must not be more than 30 characters.
        </div>
      </div>
		</div>

		<div class="form-group">
			<label for="country">Country</label>
      <input type="text"
        required
        maxlength="30"
				class="form-control"
        id="country"
        required
				[(ngModel)]="customer.country"
        name="country"
      >
      <div *ngIf="country.invalid && (country.dirty || country.touched)"
          class="alert alert-danger">
        <div *ngIf="country.errors.required">
          Country field is required.
        </div>
        <div *ngIf="country.errors.maxlength">
          Country value must not be more than 30 characters.
        </div>
      </div>
		</div>

    <div class="form-group">
			<label for="zipCode">Zip code</label>
      <input type="number"
				class="form-control"
        id="zipCode"
        required
				[(ngModel)]="customer.zipCode"
        name="zipCode"
        maxlength="5">
      <div *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched)"
          class="alert alert-danger">
        <div *ngIf="zipCode.errors.required">
          Zip code is required.
        </div>
        <div *ngIf="zipCode.errors.maxlength">
          Zip code must not be more than 5 characters.
        </div>
      </div>
		</div>

		<div class="btn-group">
      <button class="button-style mat-raised-button" (click)="goBack()">Back</button>
			<button type="submit" class="button-style mat-raised-button">Submit</button>
		</div>
	</form>
</div>
